body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
span{
    color: orange;
}

.display-flex{
    display: flex;
    margin-bottom: 120px;
}
.d1{
    width: 50%;
    padding: 5%;
}
.d1 img{
    width: 80%;
    padding-top: 20px;
}
.link-button{
    text-decoration: none;
    background-image: -webkit-linear-gradient(orange, tomato);
    border-radius: 5%;
    padding: 10px 40px;
    color:white;
    font-weight: 700 ;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat ;
}
.D2{
    width: 50%;
    padding: 5%;
}
.D2 img{
    width: 80%;
    padding-top: 20px;
}
.dream-big{
   background-image: url(images/dream-bg.png);
   background-repeat: no-repeat;
   background-position: right;

}
.h-1{
    color: green;
}
.paragraph{
    color: rgba(78, 74, 74, 0.74);
    text-align: justify;
    text-shadow: green;
    text-decoration: hotpink;
}
.experience-item{
    width: 50%;
    margin-left: 5%;
    margin-left: 5%;
    padding-left: 20px;
    box-shadow:10px 10px 40px lightgray;
    border-radius: 5%;
    border-left: 10px solid mediumaquamarine;
    
}
.experiences{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
#fstwd{
    border-left: 7px solid;
    border-image:linear-gradient(cyan, green);
    border-image-slice: 1;
}
#bwd{
    border-left: 7px solid;
    border-image:linear-gradient(salmon, red);
    border-image-slice: 1;
}
footer{
    text-align: center;
    color: rgba(78, 74, 74, 0.74);
}
.tc{
    color: rgba(78, 74, 74, 0.74);
}